.App {
  text-align: center;
}
.table{
  width: 700px;
  height: 500px;
  border: 1px solid red;
  margin: auto;
  margin-top: 10px;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Chiều cao của phần tử chứa ứng dụng */
}
tr td{
  width:200px
}
